{% extends "base.html" %} 

{% block content %}

    <h2>Let's Flask!</h2>
    <div><p>Options:</p></div>
    <div>String transformer: <a href="/text">Transform</a></div>
    <div>Image Inverter: <a href="/image">Invert</a></div>
    <div>An XKCD Substitutor: <a href="/subs">Substitute</a></div>
    <div>A password enhancer: <a href="/password">Enhance</a></div>
    <br>
    <div>Example XKCDs: <a href="https://xkcd.com/1288/">xkcd</a> 
        <a href="https://xkcd.com/1625/">2</a> 
        <a href="https://xkcd.com/1679/">3</a></div>

{% endblock %}