{% extends "base.html" %}

{% block content %}
    <h2>Your original password:</h2>
    <div><p>{{ old_text }}</p></div>
    <h2>Your enhanced password:</h2>
    <div>
        <p id="newText" style="display: inline-block;">{{ new_text|safe }}</p>
        <button onclick="copyToClipboard()">Copy</button>
    </div>
    <script>
        function copyToClipboard() {
            var textToCopy = document.getElementById('newText').innerText;
            var dummyInput = document.createElement('input');
            document.body.appendChild(dummyInput);
            dummyInput.setAttribute('value', textToCopy);
            dummyInput.select();
            document.execCommand('copy');
            document.body.removeChild(dummyInput);
            alert('Copied to clipboard!');
        }
    </script>
{% endblock %}